# Example /usr/local/etc/haproxy/haproxy.cfg

global
  daemon
  maxconn 256

#resolvers mydns
  # Replace with the IP addresses of your internal DNS servers
  #nameserver ns1 192.168.1.53:53
  #nameserver ns2 192.168.2.53:53
  #accepted_payload_size 8192

defaults
  mode http
  timeout connect 5000ms
  timeout client  5000ms
  timeout server 60000ms
  option forwardfor

frontend phpipam-rp
  bind *:80
  #bind *:443 ssl crt /etc/ssl/certs
  bind *:443 ssl crt /etc/ssl/certs/mydomain.pem
  http-request redirect scheme https code 301 unless { ssl_fc }
  default_backend phpipam-web
  http-request del-header X-Forwarded-For

backend phpipam-web
 # mode http
 # balance roundrobin
  # Replace phpipam.local with the internal DNS name of your phpipam container.
  #server s1 localhost:8081 check resolvers mydns init-addr none
  server s1 phpipam-web:80 check maxconn 32
  http-request set-header X-Forwarded-Uri %[url]
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }